ALTER TABLE "ChurchLive"
ADD COLUMN IF NOT EXISTS "scheduledStart" TIMESTAMP;

ALTER TABLE "ChurchLive"
ADD COLUMN IF NOT EXISTS "scheduledEnd" TIMESTAMP;

ALTER TABLE "ChurchLive"
ADD COLUMN IF NOT EXISTS "playUrl" TEXT;

ALTER TABLE "Preaching"
ADD COLUMN IF NOT EXISTS "allowComments" BOOLEAN DEFAULT true;

ALTER TABLE "Preaching"
ADD COLUMN IF NOT EXISTS "allowDownload" BOOLEAN DEFAULT false;

ALTER TABLE "Preaching"
ADD COLUMN IF NOT EXISTS "allowSharing" BOOLEAN DEFAULT true;